/bin/*
/gen/*
/classes/*
/res/values-*/*.xml

/LOCAL_TODO*

# Eclipse
/.settings/
/local.properties

# IDEA
/*.iml
/.idea/

# Fabric
# fabric
/.fabricrc
*.pyc

# Buck
/buck-out/
/production.keystore
/production.keystore.properties
/.buckd/
