<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.elsdoerfer.android.autostarts"
      android:installLocation="auto"
      android:versionCode="26"
      android:versionName="1.8.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpActivity"
        	      android:theme="@android:style/Theme.Light" />
        <service android:name=".ToggleService" android:label="Autostarts Service"/>
    </application>
    <!-- We generally won't get those permissions. WRITE_SECURE_SETTINGS is
         protectionLevel "signatureOrSystem", and changing other component's
         states is even only allowed with a system signature, which is why
         we need to work around those limitations with root.

         However, it's possible that we might get those permissions in some
         cases, for example if a user installs us on the system, in which
         case we can then skip the root hacks and do things properly.
         -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <supports-screens
    	android:largeScreens="true"
    	android:normalScreens="true"
    	android:smallScreens="true"
    	android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="19" />
    <uses-configuration />
    <uses-feature />
</manifest>
